.login{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login >img{
  height: 400px;
}
.login >a{
padding: 20px;
margin-bottom: 50px;
border-radius: 99px;
background-color: #1db954;
font-weight: 700;
color:white;
text-decoration: none;
letter-spacing: 1px;
cursor: pointer;
}